{% extends 'main.html' %} {% block content %} {% load static %}
<!DOCTYPE html>

<h1>&nbsp</h1>
<h1>&nbsp</h1>
<h1>&nbsp</h1>

{%if current_chat %}
<h1>Здесь будет переписка №{{pk}}</h1>

{% if all_messages %} {% for mes in all_messages %}
<h3>
  {% if mes.author_id == request.user.id %} Вы: {{mes}} - {{mes.sent_time.time}}
  {% else %} {{mes.author.name}} {{mes.author.surname}}: {{mes}} -
  {{mes.sent_time.time}} {% endif %}
</h3>
{% endfor %} {%endif%}

<div class="comment-form" style="margin-top: 10px">
  <form method="POST" action="" onsubmit="return validateForm()">
    {% csrf_token %}

    <input
      type="text"
      name="message"
      id="message"
      placeholder="Enter message..."
    />

    <input type="submit" value="Post" />
  </form>

  <script>
    function validateForm() {
      var input = document.getElementById("body").value;
      if (input == "") {
        alert("Заполните поле сообщения!");
        return false;
      }
    }
  </script>
</div>

{%else%}
<h1>Вам сюда нельзя</h1>
{%endif%} {% endblock content %}
