{% extends 'main.html' %} {% block content %} {% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
  </head>
  <body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );

      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
      );

      chatSocket.onopen = function (e) {
        {% for dialog in chat %}
            {% for message in dialog.messages.all %}
                document.querySelector("#chat-log").value +=  "{{message.contact.name}} {{message.contact.surname}}:"
                + " {{message}}" + "\t" + "{{message.timestamp}}" +  "\n";
            {% endfor %}
        {% endfor %}
      };

      chatSocket.onmessage = function (e) {
        console.log("Пришло сообщение от {{current_user.name}} {{current_user.surname}}");
        console.log(e)
        const data = JSON.parse(e.data);
        var message = data["message"]["content"]
        var author = data["message"]["author"]
        var time = data["message"]["timestamp"]
        console.log(data["message"])
        document.querySelector("#chat-log").value += author + ": " + message + "\t" + time + "\n" ;
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        var username = "{{user.username}}"
        chatSocket.send(
          JSON.stringify({
            message: message,
            chatId: roomName,
            from: username,
            command:"new_message",
          })
        );
        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
{% endblock content %}
