<!DOCTYPE html>
{%load static%} {% if request.user.is_authenticated %}
<h1>Добрый день, {{request.user}}!</h1>
{% endif %}
<html>
  <head>
    <title>Моя страница</title>
    <link rel="stylesheet" href="/static/styles/header.css" />
  </head>
  <body>
    <header>
      <a href="/acquaintances"
        ><img class="logo2" src="../static/img/logo.png" alt="logo"
      /></a>

      <!-- jQuery библиотека -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <nav class="menu">
        <ul>
          <li><a href="/">Главная страница</a></li>
          <li><a href="/profile">Профиль</a></li>
          <li><a href="/acquaintances">Знакомства</a></li>
          <li><a href="/chat">Чаты</a></li>
          <li><a href="/map">Ближайшие</a></li>
          {%if request.user.is_authenticated %}
          <li><a href="/logout">Выйти</a></li>
          {% else %}
          <li><a href="/login">Войти</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main></main>
    <footer>
      <!-- Контент футера -->
    </footer>
  </body>
</html>
