<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    {% endcomment %}
  </head>
  <body>
    {% include 'header.html' %}
    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
      const NotificationSocket = new ReconnectingWebSocket(
        "ws://" + window.location.host + "/ws/notification/"
      );

      NotificationSocket.onopen = function (e) {
        console.log("Вы подключились к NotificationSocket");
      };

      NotificationSocket.onmessage = function (e) {
        var user = "{{user.username}}";
        var data = JSON.parse(e.data);
        data = data["message"];
        const fromContact = data["from_contact"];
        const toContact = data["to_contact"];
        const content = data["message"];
        if (user === toContact && content === "Like") {
          alert(`Ваша анкета понравилась пользователю ${fromContact}`);
        }
        if (user === toContact && content !== "Like") {
          alert(`Вам пришло сообщение от ${fromContact} с текстом ${content}`);
        }
      };

      NotificationSocket.onclose = function (e) {
        console.error("Потеряно соединение с сервером!");
      };
    </script>
    {% block content %}
    <!-- Просто чтобы было -->
    {% endblock content %}
  </body>
  <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
</html>
