body {
  background-color: #f7b1ab; /* Оранжево-розовый цвет фона */
}

header {
  height: 90px;
}

.logo2 {
  height: 90px;
  width: 90px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Выравнивание ссылок по центру */
}

nav li {
  display: inline-block;
  margin: 0 10px; /* Отступы между ссылками */
  width: 200px; /* Ширина логотипа */
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #d9d9d9;
  border-bottom: 0;
  transition: border-bottom 0.06s ease-in-out; /* Плавная анимация */
}

nav a:hover {
  background-color: #eaeaea;
}

.menu {
  display: inline-block;
}
